<div class="row">
    <div class="mt-4 col-12">
        {{ form_start(form) }}
        <div class="row align-items-center">
            <div class="col-3 px-1">
                {{ form_widget(form.locale) }}
            </div>
            <div class="col-3 px-1">
                {{ form_widget(form.search) }}
            </div>
            <div class="col-2 px-1">
                {{ form_widget(form.submit) }}

            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Root page</th>
                    <th>File name</th>
                    <th><span class="pull-right">Actions</span></th>
                </tr>
                </thead>
                <tbody>
                {% for sitemap in sitemaps %}
                    <tr>
                        <td>{{sitemap.title}}</td>
                        <td>{{sitemap.getPagePath()}}</td>
                        <td>{{sitemap.fileName}}</td>
                        <td><a href="/dashboard/system/seo/sitemap_xml/manage/{{ sitemap.id }}" class="btn btn-sm btn-primary pull-right"><i class="fa fa-edit"></i></a></td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="4" class="no-data">
                            No sitemap found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{pagerfanta(pagination)}}
    </div>
</div>
<div class="ccm-dashboard-form-actions-wrapper">
    <div class="ccm-dashboard-form-actions">
        <div class="pull-right">
            <a class="btn btn-info" href="/dashboard/system/seo/sitemap_xml/manage">Create</a>
        </div>
    </div>
</div>
